body{
    padding: 0px;
    margin: 0px;
}
 h1{
     border: 0px;
     margin-top: 40px;
 }
    
#ajuste{
    margin-top: 80px;
    margin-left: -40px;
}

 
#geral{
    border: 0px;
    position: absolute;

    margin: 0px;
    margin-top: 100px;
   margin-left: 250px;
}


#retangulo{
    border: solid green;
    height: 730px;
    width: 800px;
    background-color: green;
    position: absolute; z-index: 1;
}
#losango{
   
    background-color: yellow; 
    border-bottom: 25px;
    height: 400px;
    width: 400px;
    position: absolute; z-index: 2;
    margin-left: 240px;
    margin-top: 150px;
    transform:rotate(135deg)
}
#bola{
    margin-left: 300px;
    margin-top: 200px;
    height: 300px;
    width: 300px;
    position: absolute; z-index: 3;
    background-color:#002776;
    border-radius: 150px;
}
#fita{
    margin-left: 300px;
    margin-top: 330px;
    height: 30px;
    width: 302px;
    position: absolute; z-index: 4;
    background-color: white;
    transform: rotate(15deg);
    text-align: center;
    font: verdana;
    font-size: 25px;
    font-style: oblique;
    color: green;
}   
.triacima{
    width: 0px;
    height: 0;
    position: absolute; z-index: 5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
} 
.triabaixo{
    width: 0px;
    height: 0;
    position: absolute; z-index: 5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    margin-top: 3px;
}
.triacima2{
    width: 0px;
    height: 0;
    position: absolute; z-index: 5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}
.triabaixo2{
    width: 0px;
    height: 0;
    position: absolute; z-index: 5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-top: 2px;
}


#estrela1{
    position: absolute; z-index: 6;
    margin-top: 320px;
    margin-left: 470px;
    transform: rotate(-15deg);
}

#estrela2{
    position: absolute; z-index: 6;
    margin-top: 410px;
    margin-left: 500px;
    transform: rotate(-15deg);
}
    #estrela3{
        position: absolute; z-index: 6;
        margin-top: 370px;
        margin-left: 320px;
       
}
#estrela4{
    position: absolute; z-index: 6;
    margin-top: 390px;
    margin-left: 420px;
}

#estrela5{
    position: absolute; z-index: 6;
    margin-top: 420px;
    margin-left: 420px;
}
#estrela6{
    position: absolute; z-index: 6;
    margin-top: 430px;
    margin-left: 360px;
}
#estrela7{
    position: absolute; z-index: 6;
    margin-top: 430px;
    margin-left: 490px;
}

#estrela8{
    position: absolute; z-index: 6;
    margin-top: 450px;
    margin-left: 450px;
}
#estrela9{
    position: absolute; z-index: 6;
    margin-top: 420px;
    margin-left: 540px;
}
#estrela10{
    position: absolute; z-index: 6;
    margin-top: 430px;
    margin-left: 460px;
}
#estrela11{
    position: absolute; z-index: 6;
    margin-top: 430px;
    margin-left: 400px;
}
#estrela12{
    position: absolute; z-index: 6;
    margin-top: 390px;
    margin-left: 310px;
}

#estrela13{
    position: absolute; z-index: 6;
    margin-top: 430px;
    margin-left: 440px;
}
#estrela14{
    position: absolute; z-index: 6;
    margin-top: 390px;
    margin-left: 540px;
}
#estrela15{
    position: absolute; z-index: 6;
    margin-top: 350px;
    margin-left: 340px;
}

#estrela16{
    position: absolute; z-index: 6;
    margin-top: 370px;
    margin-left: 380px;
}

#estrela17{
    position: absolute; z-index: 6;
    margin-top: 470px;
    margin-left: 430px;
}


#estrela18{
    position: absolute; z-index: 6;
    margin-top: 470px;
    margin-left: 460px;
}

#estrela2:hover{

transform:rotate(50deg)
}